.contact {
    width: 100%;
    height: 100vh;
    background-color: #333;
    padding-top: 130px;
}

.inputs {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs h1 {
    color: #34a7df;
    font-size: 36px;
    padding-bottom: 1rem;
}

.inputs p {
    color: #e6edf9;
    font-size: 20px;
    padding-bottom: 2rem;
    text-align: center;
}

input {
    width: 100%;
    padding: 20px; 
    margin-block: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #dcdcdd;
    font-size: 18px;
}

.message {
    padding-bottom: 10rem;
}

@media all and (max-width: 450px) {
    .inputs p {
        font-size: 18px;
    }
}

.glow-on-hover {
    width: 200px;
    height: 50px;
    border: 1px solid #e6edf9;
    outline: none;
    color: #e6edf9;
    background: #243d69;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: .7rem;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 15s linear infinite;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #243d69;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #243d69;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media all and (max-width: 1400px) {
    .contact {
        padding-top: 150px;
    }
    
    .inputs {
        width: 60%;
    }
}

@media all and (max-width: 1110px){
    .contact {
        padding-top: 170px;
    }

    input {
        font-size: 16px;
    }
}

@media all and (max-width: 600px) {
    .inputs {
        width: 70%;
    }

    .inputs h1 {
        font-size: 30px;
    }

    .inputs p {
        font-size: 18px;
    }
}

@media all and (max-width: 450px) {
    .contact {
        padding-top: 140px;
    }

    .inputs {
        width: 80%;
    }

    .glow-on-hover {
        width: 180px;
    }
}
